body {
  width: 50vw;
  margin: 0 auto;
}

main,
header,
footer,
.title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

li {
  list-style: none;
}

footer {
  background-color: rgb(208, 255, 0);
}